<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="MyDBConnectionString2"
	 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\USERS\RASMU\ONEDRIVE\DOKUMENTER\LOGIN-INFO.MDF;Integrated Security=True;Connect Timeout=30"
	 providerName="System.Data.SqlClient" />
		<add name="MyDBConnectionString"
	 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\USERS\OLIVE\DOCUMENTS\LOGIN-INFO.MDF;Integrated Security=True;Connect Timeout=30"
	 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>